@page "/welcome"

<PageTitle>Welcome</PageTitle>

<h3>Welcome</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tCxmiOk1AUA?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


@code {

}

